*{
    margin:0;
    padding:0;
}

.containercss{
    
        position: relative;
        display: flex;
        justify-content: center;
        z-index: 1;
        
    }
    
    
.cardcss{
    position: absolute;
        top:2.5rem;

   
       
        width:20rem;
    }

.iconcss{
    cursor: pointer;
}

.fechar{
    opacity: 1;
}

